include includes/menu
h1= title
#content
  ul.items
    - for movie in movies
      li.item
        .delete-movie
          a(href="/movie/#{movie._id}/delete?prev=#{prev}") X
        .title
          = movie.name
        .image
          a(href="/movie/#{movie._id}")
            img(src="http://media:8080/files/#{movie.machineFileName}_thumb.jpg")
