include includes/menu
h1= title
#movie
  .name= movie.name
  .length 2 hrs 30 min
  .views Viewed: 0 times
  .edit
    a(href="/movie/#{movie._id}/edit", class="button") Edit
    a(href="/movie/#{movie._id}/delete?prev=#{currentUri}", class="button") Delete
  object(classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B", class="video-player", width="400", height="300", codebase="http://www.apple.com/qtactivex/qtplugin.cab")
    //-
      param(name="src" value="http://media:8080/files/#{movie.machineFileName}")
      param(name="autoplay", value="true")
      param(name="controller", value="false")
    embed(src="http://media:8080/files/#{movie.machineFileName}", width="320", height="180", autoplay="true", controller="false", pluginspage="http://www.apple.com/quicktime/download/")
  .tags Tags: 
    each tag in movie.tags
      .tag-wrapper.popout
        a(href="/movie/tag/#{tag._id}", class="tag")= tag.title
