h1= title
include includes/menu
#movie
  div= movie.title
  div= movie.file
  div= movie.tags
  object(classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B", width="320", height="180", codebase="http://www.apple.com/qtactivex/qtplugin.cab")
    //-
      param(name="src" value="files/movie.mov")
      param(name="autoplay", value="true")
      param(name="controller", value="false")
    embed(src="files/#{movie.file}", width="320", height="180", autoplay="true", controller="false", pluginspage="http://www.apple.com/quicktime/download/")
